<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>List user</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>

        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<div class="card">
  <div class="card-body row">
    <div class="col-md-6">
      <button class="btn btn-success" (click)="showAddModal()">Thêm mới</button>
    </div>
    <div class="col-md-6" style="padding: 0;margin-bottom: 10px;">
    </div>
    <label>{{userInfo.username}}</label>
    <table id="example1" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Mã user</th>
          <th>Tên</th>
          <th>Quyền</th>
          <th>Edit/Delete User</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of lstUsers">
          <td>{{item._id}}</td>
          <td>{{item.username}}</td>
          <td>{{item.role}}</td>
          <td>
            <button class="btn btn-primary" (click)="showEditModal(item._id)"><i class="fa fa-edit"></i></button>
            <button class="btn btn-danger" (click)="deleteUser(item._id)"><i class="fa fa-trash"></i></button>

          </td>
        </tr>

      </tbody>
      <tfoot>
        <tr>
          <!-- <td colspan="4"><span class="pull-right">Trang: {{page+1}} - Tổng số bản ghi: {{totalCount}}</span></td> -->
        </tr>
      </tfoot>
    </table>

  </div>
  <!-- /.card-body -->
</div>

<!--Modal add and edit-->
<div bsModal #modalAddEdit="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Thêm/Sửa User</h4>
        <button type="button" class="close pull-right" (click)="modalAddEdit.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-label-left" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange()"
          *ngIf="user">
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Tên User</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="hidden" [(ngModel)]="user._id" name="_id" />
              <input [readOnly]='isEdit' type="text" #username="ngModel" [(ngModel)]="user.username" required
                minlength="3" name="username" class="form-control">
              <small [hidden]="username.valid || (username.pristine && !addEditForm.submitted)" class="text-danger">
                Bạn phải nhập tên ít nhất 3 ký tự
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">PassWord</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="password" class="form-control" name="password" [(ngModel)]="user.password" required
                minlength="6" #password="ngModel" />
              <div class="alert alert-danger" role="alert" *ngIf="password.errors && addEditForm.submitted">
                <div *ngIf="password.errors.required">Password is required</div>
                <div *ngIf="password.errors.minlength">
                  Password must be at least 6 characters
                </div>
              </div>
            </div>
          </div>
          <div class="form-group" *ngIf="isEdit">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">New PassWord</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="password" class="form-control" name="newPass" [(ngModel)]="user.newPass" required
                minlength="6" #newPass="ngModel" />
              <div class="alert alert-danger" role="alert" *ngIf="newPass.errors && addEditForm.submitted">
                <div *ngIf="newPass.errors.required">Password is required</div>
                <div *ngIf="newPass.errors.minlength">
                  Password must be at least 6 characters
                </div>
              </div>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <button type="button" (click)="modalAddEdit.hide()" class="btn btn-primary">Hủy bỏ</button>
              <button type="submit" class="btn btn-success" [disabled]="!addEditForm.form.valid">Cập nhật</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>